body > .container {
    margin-top: 60px;
}

.settings .row {
    padding: 20px 0;
    border-bottom: 1px solid #F2F1EF;

    &:first-child {
        border-top: 1px solid #F2F1EF;
    }

    .setting-title {
        padding-top: 5px;
        text-align: right;
        color: #757D75;
    }

    .setting-value {
        padding-left: 10px;

        .help-block {
            font-weight: normal;
        }
    }

    .saved {
        color: #26A65B;
        margin: 8px -20px;
        opacity: 0;

        -webkit-transition: opacity 500ms ease-out;
        -moz-transition: opacity 500ms ease-out;
        -o-transition: opacity 500ms ease-out;
        transition: opacity 500ms ease-out;
    }

    .saved.active {
        opacity: 1;
    }

    .input-group {
        float: left;
        margin-right: 13px;
    }
}

.editable-click {
    border-bottom: none !important;
}

.pagination {
    display: block;
}

ul.inline-stats {
    li {
        display: inline-block;
        text-decoration: none;
        margin-right: 15px;
    }

    strong {
        font-size: 24px;
        margin-bottom: -5px;
        font-weight: lighter;
        display: block;
    }

    span {
        font-size: 12px;
    }
}

ul.small-stats {
    li {
        display: block;
        text-decoration: none;
    }
}

.week-view {
    tr {
        td {
            height: 100px;
            min-height: 50px;
            max-width: 12%;
            width: 12%;
        }

        td:last-child {
            max-width: 16%;
            width: 16%;
        }
    }

    .day {
        font-weight: bold;
        float: right;
        text-align: right;
    }

    dt {
        width: 50px;
    }

    dd {
        margin-left: 70px;
    }
}

#map.map-fs {
    height: calc(100vh - 50px - 125px);;
    margin-top: 50px;
}

#map {
    width: 100%;
    height: 500px;
}

.bm-nav {
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 50px;
}

.map-back {
    position: absolute;
    bottom: 170px;
    right: 0;
    z-index: 999;
    background: #ffffff;
    border-top-left-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.breadcrumb>li+li.edit-action:before {
    content: '';
}

.breadcrumb>li+li.edit-action a {
    color: black;
}

.carousel .carousel-caption-big {
    font-size: 250%;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
    top: 25%;
}

.btn-margin {
    margin-top: 22px;
}
