# Static files #
################

RewriteEngine On
RewriteRule ^application/static/(.+)$ /static/static/$1 [L]
RewriteRule ^application/uploads/(.+)$ /static/media/$1 [L]


# Expire headers #
##################
<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

Header unset Pragma
FileETag None
Header unset ETag
