{% extends "layouts/full-width.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}

{% block block_title %}{% trans 'Training :: Sign in' %}{% endblock %}

{% block content %}
  <form class="form-signin" role="form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <h3 class="form-signin-heading">{% trans 'Sign in' %}</h3>

    <a class="btn btn-block btn-social btn-google-plus" href="{% url 'google_login' %}">
      <i class="fa fa-google"></i> {% trans 'Sign in with Google' %}
    </a>
    <a class="btn btn-block btn-social btn-facebook" href="{% url 'facebook_login' %}">
      <i class="fa fa-facebook"></i> {% trans 'Sign in with Facebook' %}
    </a>

    <span class="login-or center-block center">&mdash; {% trans 'or' %} &mdash;</span>

    {% bootstrap_form_errors form 'icon-remove' %}
    {% bootstrap_form form %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign in' %}</button>

    <hr class="divider">

    <span class="login-note">{% trans "Don't have an account?" %} <a href="{% url 'account_signup' %}">{% trans 'Sign up' %}</a>.</span>
    <span class="login-note"><a href="{% url 'account_reset_password' %}">{% trans 'Forgot your password?' %}</a></span>
  </form>
{% endblock content %}
