{% extends 'settings/_base.html' %}

{% load i18n %}


{% block block_title %}Training :: Settings{% endblock block_title %}

{% block settings %}
  <h3>Performance</h3>

  <div class="settings">
    <form class="form-horizontal" role="form">
      {% csrf_token %}

      <div class="row">
        <div class="setting-title col-lg-3">{% trans 'Height' %}</div>
        <div class="setting-value col-sm-3 input-group">
          <input type="text" name="height" id="height" class="form-control ajax-field" data-action="default" value="{% if user.athlete.height %}{{ user.athlete.height }}{% endif %}">
          <div class="input-group-addon">cm</div>
        </div>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-ok saved"></span>
        </div>
      </div>

      <div class="row">
        <div class="setting-title col-lg-3">{% trans 'Max HR' %}</div>
        <div class="setting-value col-sm-3 input-group">
          <input type="text" name="mhr" id="mhr" class="form-control ajax-field" data-action="default" value="{% if user.athlete.max_hr %}{{ user.athlete.max_hr }}{% endif %}">
          <div class="input-group-addon">bpm</div>
        </div>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-ok saved"></span>
        </div>
      </div>

      <div class="row">
        <div class="setting-title col-lg-3">{% trans 'LT HR' %}</div>
        <div class="setting-value col-sm-3 input-group">
          <input type="text" name="lthr" id="lthr" class="form-control ajax-field" data-action="default" value="{% if user.athlete.lt_hr %}{{ user.athlete.lt_hr }}{% endif %}">
          <div class="input-group-addon">bpm</div>
        </div>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-ok saved"></span>
        </div>
      </div>
    </form>
  </div>

{% endblock settings %}
