{% load active from nav %}
{% load i18n %}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.email }}{% endif %}
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" role="menu">
    <li class="{% active 'settings_me' 'settings_performance' 'settings_equipment' 'settings_account' %}"><a href="{% url 'settings_index' %}">{% trans 'Settings' %}</a></li>
    <li><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
  </ul>
</li>
