{% extends "layouts/full-width.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load url from future %}

{% block block_title %}{% trans 'Training :: Edit :: ' %}{{ activity }}{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <form action="{% url 'activities:edit' activity.id %}" method="POST" class="form">
        {% bootstrap_form_errors form %}
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
          <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "floppy-saved" %} {% trans 'Save' %}
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock content %}
